<% if notice %>
  <p id="notice" class="alert alert-success"><%= notice %></p>
<% end %>

<div class="jumbotron">
  <h1>Welcome to Contactually Lite</h1>
  <p>upload a comma delimited contact list to get started</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Upload</a></p>
</div>

<div class="hide">
  <%= form_tag(action: "import", multipart: true) do %>
    <%= file_field_tag 'file', id: 'upload' %>
    <%= submit_tag %>
  <% end %>
</div>

<% if @contacts.any? %>
  <%= react_component 'FilterableContactList', contacts: @contacts %>
<% end %>

