<p id="notice"><%= notice %></p>

<h1>Listing Contacts</h1>

<%= form_tag(action: "import", multipart: true) do %>
  <%= file_field_tag 'file' %>
  <%= submit_tag %>
<% end %>

<%= react_component 'FilterableContactList', contacts: @contacts %>

